<div class="verification-container">
  <div class="verification-card">
    <div class="login-btlogo">
      <img src="../../../../assets/images/bt-logo.png" class="" alt="BTLogo" />
    </div>
    <br>
    <div *ngIf="!isEmailEntered">
      <h4>Enter your Email</h4>
      <form [formGroup]="EmailForm" (ngSubmit)="onSubmitGetOTP()">
        <div class="form-group inrne-addon">
          <mat-form-field>
            <input matInput type="text" autocomplete="off" name="email" id="email" placeholder="Email"
              [formControl]="EmailForm.controls['email']" required>
            <mat-error *ngFor="let validation of validation_messages.email_id">
              <span *ngIf="EmailForm.get('email').hasError(validation.type)">
                {{ validation.message}}
              </span>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Get OTP</button>
        </div>
      </form>
    </div>
    <div *ngIf="isEmailEntered">
      <h4>Check your Email</h4>
      <p>A 5-digit code has been sent to your email</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group inrne-addon">
          <mat-form-field>
            <input matInput type="text" autocomplete="off" name="verificationCode" id="verificationCode"
              placeholder="Verification Code" (keypress)="onKeyPress($event)" cmsRestrictInput="onlyNumbers"
              [formControl]="forgetPasswordForm.controls['verificationCode']" required>
            <mat-error *ngFor="let validation of validation_messages.verificationCode">
              <span *ngIf="forgetPasswordForm.get('verificationCode').hasError(validation.type)">
                {{ validation.message}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group inner-addon">
          <mat-form-field>
            <input matInput [type]="Newshow_password ? 'text' : 'password'" name="newpassword" id="newpassword"
              placeholder="New Password" [formControl]="forgetPasswordForm.controls['newpassword']" />
            <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
            <span class="input-group-addon" matSuffix>
              <a title="password" (click)="NewPassword()">
                <i [class]="Newshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword" aria-hidden="true"></i>
              </a>
            </span>
            <mat-error *ngFor="let validation of validation_messages.newpassword">
              <span *ngIf="forgetPasswordForm.get('newpassword').hasError(validation.type)">
                {{ validation.message}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group inner-addon">
          <mat-form-field>
            <input matInput [type]="Confirmshow_password ? 'text' : 'password'" name="confirmpassword"
              id="confirmpassword" placeholder="Confirm Password"
              [formControl]="forgetPasswordForm.controls['confirmpassword']" />
            <span matPrefix> <i class="fas fa-key" aria-hidden="true"></i> </span>
            <span class="input-group-addon" matSuffix>
              <a title="confirmPassword"  (click)="ConfirmPassword()">
                <i [class]="Confirmshow_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" id="showPassword" aria-hidden="true"></i>
              </a>
            </span>
            <mat-error *ngFor="let validation of validation_messages.confirmpassword">
              <span *ngIf="forgetPasswordForm.get('confirmpassword').hasError(validation.type)">
                {{ validation.message}}
              </span>
            </mat-error>
            <mat-error>
              <span
                *ngIf="forgetPasswordForm.controls['confirmpassword'].value?.length !=0 && forgetPasswordForm.controls['confirmpassword'].hasError('mustMatch')">
                Confirm Password sholud be Match
              </span>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="button-group">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-secondary" (click)="onClear()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>