

.login-button {

    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    height: 47px;
    margin-right: 0px;
    background: #084be1;

}
.login-btlogo{
    margin: 0px auto;
    text-align: center;
}


  .form-button {
    display: flex;
    justify-content: center; 
}

.center-link {
    display: flex;
    justify-content: center; 
    margin-top: 11px; 
    color: #006eff; 
    margin-right: 2px; 
}



.remember-forget-container {
    display: flex; 
    align-items: center;
    margin-top: 10px; 
}

.remember-me {
    display: flex;
    align-items: center; 
}

.remember-me input {
    margin-right: 5px;
}

.forget-password-container {
    margin-left: auto; 
    color: #006eff;
}