<!-- Navigation-->
<div class="container-fluid h-100 p-5">
  <div class="container-padding">
    <div class="row align-items-md-center h-100 g-2">
      <div class="col-md-6 cd-sm-12">
        <!-- Login  -->
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <!-- Logo -->
          <div class="login-btlogo">
            <img
              src="../../../../assets/images/bt-logo.png  "
              class=""
              alt="BTLogo"
            />
          </div>
          <!-- LoginForm -->

          <form
            class="login-form"
            [formGroup]="LoginForm"
            (ngSubmit)="clkSignin()"
          >
            <div
              *ngIf="errorFlag"
              class="text-center text-break fw-bold text-wrap my-2"
            >
              <mat-error>{{ authorizationMessage }}</mat-error>
            </div>
            <br />
            <div class="form-group inrne-addon">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  name="email"
                  id="email"
                  #emailInput
                  placeholder=" Login ID"
                  [formControl]="LoginForm.controls['email']"
                />
                <span matPrefix>
                  <i class="far fa-user" aria-hidden="true"></i>
                </span>
                <mat-error
                  *ngFor="let validation of validation_messages.email_id"
                >
                  <span
                    *ngIf="LoginForm.get('email').hasError(validation.type)"
                  >
                    {{ validation.message }}
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group inner-addon">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input
                  [type]="show_password ? 'text' : 'password'"
                  matInput
                  autocomplete="off"
                  formControlName="password"
                />
                <span
                  style="cursor: pointer"
                  (click)="togglePasswordVisibility()"
                  matSuffix
                >
                  <i
                    [ngClass]="eyeShown()"
                    class="border-none bg-none"
                    aria-hidden="true"
                  ></i>
                </span>
              </mat-form-field>
              <!-- <mat-form-field>
                <input
                  matInput
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  [formControl]="LoginForm.controls['password']"
                />
                <span matPrefix>
                  <i class="fas fa-key" aria-hidden="true"></i>
                </span>
                <mat-error
                  *ngFor="let validation of validation_messages.password"
                >
                  <span
                    *ngIf="LoginForm.get('password').hasError(validation.type)"
                  >
                    {{ validation.message }}
                  </span>
                </mat-error>
              </mat-form-field> -->
            </div>

            <div
              class="d-flex flex-row flex-wrap justify-content-between align-items-center"
            >
              <!-- Remember Me -->
              <div class="d-flex">
                <input
                  type="checkbox"
                  id="rememberMe"
                  (change)="checkRemember($event)"
                  name="rememberMe"
                  class="me-2"
                />
                <label for="rememberMe" class="mb-0 text-nowrap"
                  >Remember Me</label
                >
              </div>

              <!-- Forgot Password -->
              <div class="">
                <a
                  [routerLink]="['/forgetPassword']"
                  style="margin-left: auto; margin-top: 10px; color: #006eff"
                  >Forget Password?</a
                >
              </div>
            </div>
            <br />
            <div
              class="d-flex flex-column gap-4 justify-content-center align-items-center"
            >
              <!-- Login Button -->
              <button
                type="submit"
                name="signup"
                id="signup"
                class="btn login-button btn-rounded"
              >
                <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login
              </button>
              <!-- Create account -->
              <div>
                Don't have account ,<a
                  [routerLink]="['/register']"
                  style="color: #006eff"
                  >Create one
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 d-none d-sm-block">
        <figure class="d-flex justify-content-center align-items-center">
          <img
            loading="lazy"
            src="assets/images/financial-image.png "
            alt="sing up"
            class="img-fluid w-50"
          />
        </figure>
      </div>
    </div>
  </div>
</div>
