.button-container {
    display: flex;
    justify-content: space-between; /* Space out the buttons */
    margin : 7px; /* Add some space above */
  }
  
  .approve-button {
    padding: 10px 20px;
    background-color: green; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
  }
  
  .reject-button {
    padding: 10px 20px;
    background-color: red; /* Red background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
  }
  
  .approve-button:hover {
    background-color: darkgreen; /* Darker green on hover */
  }
  
  .reject-button:hover {
    background-color: darkred; /* Darker red on hover */
  }
  