<div class="ConfigurationTypes_textpadding">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h4>Schedule Monitoring</h4>
    <button
      type="button"
      class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
      (click)="onExportCSV()"
    >
      Export
    </button>
  </div>

  <div class="clearfix"></div>
  <br />
  <table
    mat-table
    [dataSource]="this.filterData.dataSource"
    matSort
    class="mat-elevation-z8 mat-datagrid w-100"
    aria-label="list"
  >
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef style="width: 30px" id="">
        <label mat-sort-header for="sno-filter-input"> S.No </label>
        <input
          type="text"
          id="sno-filter-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[0].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
    </ng-container>

    <ng-container matColumnDef="schedularName">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="scheduler-name-input">
          Scheduler Name
        </label>
        <input
          type="text"
          id="scheduler-name-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[1].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">{{ element.schedularName }}</td>
    </ng-container>

    <ng-container matColumnDef="startDateTime">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="start-date-time-input"> Start</label>
        <input
          type="text"
          id="start-date-time-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[2].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDateTime | date : "dd-MMM-yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDateTime">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="end-date-time-input">End</label>
        <input
          type="text"
          id="end-date-time-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[3].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDateTime | date : "dd-MMM-yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="jobStatus">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="Status-input"> Status </label>
        <input
          type="text"
          id="Status-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[4].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          [ngStyle]="{
            color: element.jobStatus === 'success' ? 'green' : 'red'
          }"
        >
          {{ element.jobStatus | titlecase }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="duration-input">Duration (sec)</label>
        <input
          type="text"
          id="duration-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[5].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <ng-container matColumnDef="csvFileCount">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="expected-input"> Total Records </label>
        <input
          type="text"
          id="expected-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[6].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.csvFileCount === 0">
          {{ element.csvFileCount }}
        </span>
        <a
          *ngIf="element.csvFileCount !== 0"
          (click)="getFiles(element, 2)"
          style="cursor: pointer; text-decoration: underline; color: blue"
        >
          {{ element.csvFileCount }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCsvFiles">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="Generated-input"># Processed</label>
        <input
          type="text"
          id="Generated-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[7].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.numberOfCsvFiles === 0">
          {{ element.numberOfCsvFiles }}
        </span>
        <a
          *ngIf="element.numberOfCsvFiles !== 0"
          (click)="getFiles(element, 1)"
          style="cursor: pointer; text-decoration: underline; color: blue"
        >
          {{ element.numberOfCsvFiles }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCsvFailed">
      <th mat-header-cell *matHeaderCellDef id="">
        <label mat-sort-header for="Failed-input"> # Failed</label>
        <input
          type="text"
          id="Failed-input"
          (keyup)="updatePagination()"
          [(ngModel)]="filterData.filterColumnNames[8].Value"
          [filter]="filterData"
        />
      </th>
      <td mat-cell *matCellDef="let element">
        <a
          *ngIf="element.numberOfCsvFailed !== 0"
          (click)="getFiles(element, 0)"
          style="cursor: pointer; text-decoration: underline; color: blue"
        >
          {{ element.numberOfCsvFailed }}
        </a>
        <span *ngIf="element.numberOfCsvFailed == 0">{{
          element.numberOfCsvFailed
        }}</span>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page">
  </mat-paginator>
</div>
