<div class="header">
  <div
    class="navbar navbar-expand-lg navbar-light d-flex justify-content-between align-items-center"
  >
    <!-- logo -->
    <div class="">
      <a [routerLink]="['/masterDataCreation']" class="">
        <img
          src="assets/images/bt-logo.png"
          class="img-fluid w-50"
          loading="lazy"
          alt="bigTapp-logo"
        />
      </a>
    </div>
    <!-- options -->
    <div class="d-flex align-items-center justify-content-between g-5">
      <div class="float-right user-profile">
        <div class="btn-group">
          <div
            type="button"
            class="btn dropdown-toggle pt-2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="assets/images/icon-login-orange.png"
              width="25px"
              alt="user icon"
            />
            <span class="d-none d-md-inline-block">
              {{ loginData.firstName }}
              {{ loginData.lastName }} ({{ loginData.userRole }})
            </span>
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <div
              class="dropdown-item d-sm-inline-block d-md-none"
              type="button"
              [routerLink]="['/changepassword']"
            >
              {{ loginData.firstName }}
              {{ loginData.lastName }} ({{ loginData.userRole }})
            </div>
            <hr class="p-0 m-0 d-none d-sm-inline-block d-md-none" />
            <button
              class="dropdown-item"
              type="button"
              [routerLink]="['/changepassword']"
            >
              Change Password
            </button>
            <button class="dropdown-item" type="button" (click)="onSignOut()">
              Sign out
            </button>
          </div>
        </div>
      </div>
      <!-- Hamburger icon -->
      <div class="d-sm-inline-block d-md-none ml-2" (click)="openSideBar()">
        <i class="fas fa-bars" style="color: #000000"></i>
      </div>
    </div>
  </div>
</div>
