<footer class="footer  pb-0">
    <div class="container">
        <div class="cpr">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-12">
                    <ul class="cpr-link">

                            <a href="https://www.bigtappanalytics.com/privacy-policy">
                            <span> Privacy Policy </span>
                        </a>
                    
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>