<div class="ConfigurationTypes_textpadding">
  <div class="card border-light" *ngIf="openForm">
    <div class="card-header text-white bg-secondary">
      {{ editMode ? "Update" : "Add" }} Mapping Data
    </div>

    <form [formGroup]="mappingForm" (ngSubmit)="onFomSubmit()">
      <div class="container p-2">
        <div class="row align-items-center">
          <!-- Source Database -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Database</mat-label>
              <input type="text" matInput formControlName="source_database" />

              <mat-error
                *ngIf="
                  mappingForm.get('source_database')?.touched &&
                  mappingForm.get('source_database')?.invalid &&
                  mappingForm.get('source_database')?.hasError('required')
                "
                class="error"
                >Source Database is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Source Table -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Table</mat-label>
              <input type="text" matInput formControlName="source_table" />

              <mat-error
                *ngIf="
                  mappingForm.get('source_table')?.touched &&
                  mappingForm.get('source_table')?.invalid &&
                  mappingForm.get('source_table')?.hasError('required')
                "
                class="error"
                >Source Table is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Source Column -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Column</mat-label>
              <input type="text" matInput formControlName="source_column" />

              <mat-error
                *ngIf="
                  mappingForm.get('source_column')?.touched &&
                  mappingForm.get('source_column')?.invalid &&
                  mappingForm.get('source_column')?.hasError('required')
                "
                class="error"
                >Source Column is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Target Database -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Database</mat-label>
              <input type="text" matInput formControlName="target_database" />

              <mat-error
                *ngIf="
                  mappingForm.get('target_database')?.touched &&
                  mappingForm.get('target_database')?.invalid &&
                  mappingForm.get('target_database')?.hasError('required')
                "
                class="error"
                >Target Database is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Target Table -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Table</mat-label>
              <input type="text" matInput formControlName="target_table" />

              <mat-error
                *ngIf="
                  mappingForm.get('target_table')?.touched &&
                  mappingForm.get('target_table')?.invalid &&
                  mappingForm.get('target_table')?.hasError('required')
                "
                class="error"
                >Target Table is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Target Column -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Column</mat-label>
              <input type="text" matInput formControlName="target_column" />

              <mat-error
                *ngIf="
                  mappingForm.get('target_column')?.touched &&
                  mappingForm.get('target_column')?.invalid &&
                  mappingForm.get('target_column')?.hasError('required')
                "
                class="error"
                >Target Column is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Target Column -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Transformation Logic</mat-label>
              <input
                type="text"
                matInput
                formControlName="transformation_logic"
              />

              <mat-error
                *ngIf="
                  mappingForm.get('transformation_logic')?.touched &&
                  mappingForm.get('transformation_logic')?.invalid &&
                  mappingForm.get('transformation_logic')?.hasError('required')
                "
                class="error"
                >Transformation Logic is required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="mb-3 mt-1 pt-1 float-end">
              <button
                type="submit"
                class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
              >
                {{ editMode ? "Update" : "Add" }}
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                (click)="onCloseForm()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <h4 cl>Mapping Data</h4>
  <div class="clearfix"></div>

  <div class="table-responsive-container">
    <div class="table-scroll-container">
      <table
        mat-table
        [dataSource]="this.filterData.dataSource"
        matSort
        class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="users"
      >
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef style="width: 30px" scope="col">
            <label mat-sort-header for="sno-input"> S.No </label>
            <input
              type="text"
              id="sno-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[0].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
        </ng-container>
        <ng-container matColumnDef="tpa_id">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> TPA ID </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[1].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.tpa_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="source_database">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="scheduler-name-input">
              Source Database
            </label>
            <input
              type="text"
              id="scheduler-name-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[2].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.source_database }}
          </td>
        </ng-container>

        <ng-container matColumnDef="source_table">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> Source Table </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[3].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.source_table }}
          </td>
        </ng-container>

        <ng-container matColumnDef="source_column">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Source Column
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[4].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.source_column }}
          </td>
        </ng-container>
        <ng-container matColumnDef="target_database">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Target Database
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[5].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.target_database }}
          </td>
        </ng-container>

        <ng-container matColumnDef="target_table">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> Target Table </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[6].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.target_table }}
          </td>
        </ng-container>

        <ng-container matColumnDef="target_column">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Target Column
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[7].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.target_column }}
          </td>
        </ng-container>
        <ng-container matColumnDef="transformation_logic">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Transform Logic
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[8].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.transformation_logic }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <span> Actions </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              matTooltip="Edit"
              (click)="onEditOpen(element)"
              (keydown)="onEditOpen(element)"
            >
              <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </span>
            <span
              matTooltip="Delete"
              style="cursor: pointer"
              (click)="onDeleteOpen(element)"
              (keydown)="onDeleteOpen(element)"
            >
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 50, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
