<div class="ConfigurationTypes_textpadding">
  <div class="card border-light" *ngIf="openForm">
    <div class="card-header text-white bg-secondary">
      {{ editMode ? "Update" : "Add" }} Mapping Data
    </div>

    <form [formGroup]="mappingForm" (ngSubmit)="onFomSubmit()">
      <div class="container p-2">
        <div class="row align-items-center">
          <!-- Source Database -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Database</mat-label>
              <input type="text" matInput formControlName="sourceDatabase" />

              <mat-error
                *ngIf="
                  mappingForm.get('sourceDatabase')?.touched &&
                  mappingForm.get('sourceDatabase')?.invalid &&
                  mappingForm.get('sourceDatabase')?.hasError('required')
                "
                class="error"
                >Source Database is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Source Table -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Table</mat-label>
              <input type="text" matInput formControlName="sourceTable" />

              <mat-error
                *ngIf="
                  mappingForm.get('sourceTable')?.touched &&
                  mappingForm.get('sourceTable')?.invalid &&
                  mappingForm.get('sourceTable')?.hasError('required')
                "
                class="error"
                >Source Table is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Source Column -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Source Column</mat-label>
              <input type="text" matInput formControlName="sourceColumn" />

              <mat-error
                *ngIf="
                  mappingForm.get('sourceColumn')?.touched &&
                  mappingForm.get('sourceColumn')?.invalid &&
                  mappingForm.get('sourceColumn')?.hasError('required')
                "
                class="error"
                >Source Column is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Target Database -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Database</mat-label>
              <input type="text" matInput formControlName="targetDatabase" />

              <mat-error
                *ngIf="
                  mappingForm.get('targetDatabase')?.touched &&
                  mappingForm.get('targetDatabase')?.invalid &&
                  mappingForm.get('targetDatabase')?.hasError('required')
                "
                class="error"
                >Target Database is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Target Table -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Table</mat-label>
              <input type="text" matInput formControlName="targetTable" />

              <mat-error
                *ngIf="
                  mappingForm.get('targetTable')?.touched &&
                  mappingForm.get('targetTable')?.invalid &&
                  mappingForm.get('targetTable')?.hasError('required')
                "
                class="error"
                >Target Table is required</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Target Column -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Target Column</mat-label>
              <input type="text" matInput formControlName="targetColumn" />

              <mat-error
                *ngIf="
                  mappingForm.get('targetColumn')?.touched &&
                  mappingForm.get('targetColumn')?.invalid &&
                  mappingForm.get('targetColumn')?.hasError('required')
                "
                class="error"
                >Target Column is required</mat-error
              >
            </mat-form-field>
          </div>
          <!-- Target Column -->
          <!-- <div class="col-md-4 col-sm-12">
            <mat-form-field appearance="outline">
              <mat-label>Transformation Logic</mat-label>
              <input
                type="text"
                matInput
                formControlName="transformationLogic"
              />

              <mat-error
                *ngIf="
                  mappingForm.get('transformationLogic')?.touched &&
                  mappingForm.get('transformationLogic')?.invalid &&
                  mappingForm.get('transformationLogic')?.hasError('required')
                "
                class="error"
                >Transformation Logic is required</mat-error
              >
            </mat-form-field>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="mb-3 mt-1 pt-1 float-end">
              <button
                type="submit"
                class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
              >
                {{ editMode ? "Update" : "Add" }}
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary btn-rounded d-inline-block m-2"
                (click)="onCloseForm()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <h4 cl>Mapping Data</h4>
  <div class="clearfix"></div>

  <div class="table-responsive-container">
    <div class="table-scroll-container">
      <table
        mat-table
        [dataSource]="this.filterData.dataSource"
        matSort
        class="mat-elevation-z8 mat-datagrid w-100"
        aria-label="users"
      >
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef style="width: 30px" scope="col">
            <label mat-sort-header for="sno-input"> S.No </label>
            <input
              type="text"
              id="sno-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[0].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
        </ng-container>
        <ng-container matColumnDef="tpaId">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> TPA ID </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[1].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.tpaId }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sourceDatabase">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="scheduler-name-input">
              Source Database
            </label>
            <input
              type="text"
              id="scheduler-name-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[2].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.sourceDatabase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sourceTable">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> Source Table </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[3].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.sourceTable }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sourceColumn">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Source Column
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[4].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.sourceColumn }}
          </td>
        </ng-container>
        <ng-container matColumnDef="targetDatabase">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Target Database
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[5].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.targetDatabase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="targetTable">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input"> Target Table </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[6].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.targetTable }}
          </td>
        </ng-container>

        <ng-container matColumnDef="targetColumn">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Target Column
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[7].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.targetColumn }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="transformationLogic">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <label mat-sort-header for="start-date-input">
              Transform Logic
            </label>
            <input
              type="text"
              id="start-date-input"
              (keyup)="updatePagination()"
              [(ngModel)]="filterData.filterColumnNames[8].Value"
              [filter]="filterData"
            />
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.transformationLogic }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">
            <span> Actions </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              matTooltip="Edit"
              (click)="onEditOpen(element)"
              (keydown)="onEditOpen(element)"
            >
              <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            </span>
            <span
              matTooltip="Delete"
              style="cursor: pointer"
              (click)="onDeleteOpen(element)"
              (keydown)="onDeleteOpen(element)"
            >
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 50, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
