/* src/App.css */

.App {
  display: flex;
}

@media (min-width: 960px) {
  .MuiDrawer-paper {
    position: relative !important;
    width: 250px;
  }
}

.MuiDrawer-paper {
  width: 250px;
  box-sizing: border-box;
}

.MuiToolbar-root {
  justify-content: space-between !important;
}

